
    <app-header></app-header>
  
  <router-outlet></router-outlet>
  
<!-- <select>               //if u want to add those many products then u can give the limit up to 'n'
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select> -->


<!-- <div *ngIf="showWelcomePage" class="welcome-container">
    <h1>Welcome to <b>FOODMANIAA</b></h1>
    <p>Your one-stop destination for delicious food!</p>
    <button (click)="navigateToLogin()">Login to Start Ordering</button>
  </div> -->